html{
	height: 100vh;
}
html, body{
	width: 100%;
}

body{
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 4em;
	border-bottom: 1px solid gray;
	background: linear-gradient(45deg, #35b5ff 0%,#a8ddff 53%,#dbf0ff 100%);
	text-align: center;
}

header>img{
	position: absolute;
	height: 100%;
    left: 5px;
}

header>p{
	margin-top: 0;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 2em;
    vertical-align: top;
    color: #108092;
    font-style: italic;
    line-height: 2em;
    font-weight: bold;
}

header>.btn-group, 
header form#command{
    float: right;
    margin-top: .7em;
    margin-right: 1em;
}

header>.btn-group.btn-login>button{
	color: white;
}

header>.btn-group.btn-login.show>button{
	color: transparent;
}

header .dropdown-menu{
	background-color: beige;
}

div.btn-login .dropdown-menu.dropdown-menu-right.show {
    width: 14em;
}

div.cls-background{
	top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
	background: linear-gradient(45deg, #35b5ff94 0%,#a8ddff70 53%,#dbf0ff2b 100%);
}

section{
	display: flex;
	margin-top: 4em;
}

section>img{
	height: 25em;
	opacity: .2;
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
}

section>div{
	margin-left: 2em;
    width: 100%;
    margin-top: 3em;
    padding-right: 1em;
    padding-bottom: 1em;
    overflow-y: hidden;
    margin-bottom: 1em;
}

section>div>h2{
	text-decoration: underline;
}
section>div>textarea{
	display: inline-block;
    background-color: transparent;
    margin-top: 1em;
    overflow-y: hidden;
    width: 100%;
    text-align: justify;
    border: none;
    height: 100%;
}

body>textarea{
	display: inline-block;
    background-color: transparent;
    overflow-y: hidden;
    width: 100%;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    height: 100%;
}

#prohibido-body h1{
	margin: 2em;
    font-weight: bold;
    font-size: 3em;
}

#prohibido-body a{
	margin-left: 6em;
}

#user-body>h1:first-of-type{
	margin: 3em 1em 1em;
}

#user-body>h3:first-of-type{
	margin-left: 1em;
    margin-bottom: 1em;
}

body{
	margin-bottom: 3em;
}
/* Table */

div#id-div-table {
    margin: 2em;
}

div#id-div-table input[type="checkbox"] {
    transform: scale(2);
}

/* User form */

#user-form {
    margin: 2em;
    display: flex;
    flex-direction: column;
}

#user-form>.form-group {
    display: flex;
}
 
#user-form>.form-group.cls-auths {
    display: flex;
    flex-wrap: wrap;
}

#user-form>.form-group.cls-auths>.form-group{
	margin-left: 1em;
}

#user-form>.form-group.cls-auths input[type=checkbox]{
	margin-left: 1em;
	transform: scale(2);
}

#user-form>.form-group.cls-auths label,
#user-form>.form-group.cls-auths input[type=text]{
	margin-left: 1em;
	border: 1px solid black;
	width: 18em;
}

#user-form>.form-group.cls-auths .form-group.cls-old input[type=text]{
	background-color: lightskyblue;
}

#user-form>.form-group.cls-auths input[type=text]{
	margin-left: 1.2em;
}

#user-form>.form-group label {
    flex: 0 0 12em
}

#user-form .form-group#enabled-group .form-control{
	display: inline-block;
    transform: scale(2);
    width: 3em;
    font-size: .2em;
    margin-left: 2em;
}

.cls-hiden,
#user-form>.form-group.cls-hiden {
	display: none;
}

span.error{
	margin-left: 1em;
}
#edicion-body>h1:first-of-type,
#administracion-body>h1:first-of-type{
	margin-top: 2em;
}

#edicion-body>h3:first-of-type,
#administracion-body>h3:first-of-type{
	border-bottom: 2px solid blue;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

#container-intranet{
	display: flex;
}

h2 {
    margin: 2em 1em 1em;
}

div#columna1-intranet {
    /* width: 35%!important; */
    flex-flow: 2;
    /* flex-grow: 2; */
    flex: 0 0 40%;
}

#columna1-intranet,
#columna2-intranet,
#columna3-intranet{
	display: inline-block;
	width: 32%;
}

textarea#textarea1,
textarea#textarea2,
textarea#textarea3,
textarea#textarea4 {
    display: inline-block;
    vertical-align: top;
    overflow-y: hidden;
    width: 100%;
    padding-top: 1.5em;
}

#img1-intranet,
#img2-intranet{
	width:100%;
}

footer {
    position: fixed;
    bottom: 0;
    padding-left: 1em;
    background-color: #b3d7ff;
    width: 100%;
}

.alert.alert-warning {
    width: fit-content;
}

a.btn.btn-outline-primary.cls-colaboradores {
    background-color: antiquewhite;
}

#user-body footer{
	background-color: beige;
    width: 100%;
    margin: 0;
    left: 0;
}
